{{/* act.tmpl */}}

АКТ № {{ or .ActNumber "<номер акта>" }}  
о проверке потребителя электрической энергии  
(п.1 обслуживаемого участка {{ or .CompanyName "<участок>" }})  

---

**Дата составления:** «{{ or .Day "<день>" }}» {{ or .Month "<месяц>" }} {{ or .Year "<год>" }} г., {{ or .Hour "<часы>" }}:{{ or .Minute "<минуты>" }}  

**Адрес проверки:**  
{{ or .Address "<адрес>" }}  

---

## Участники проверки

- **Инспектор:** {{ or .InspectorName "<инспектор>" }}, {{ or .InspectorPosition "<должность>" }}  
- **Электромонтер:** {{ or .ElectricianName "<электрик>" }}, {{ or .ElectricianPosition "<должность>" }}  
- **Сетевой представитель:** {{ or .GridRepName "<сетевик>" }}, {{ or .GridRepPosition "<должность>" }}  

---

## Данные потребителя

- **Лицевой счёт:** {{ or .Account "<л/с>" }}  
- **Потребитель:** {{ or .CustomerName "<потребитель>" }}  
- **Контакт:** {{ or .CustomerContact "<контакт>" }}  
- **Документ / ОГРН:** {{ or .CustomerID "<документ>" }}  

---

## Оборудование

| Наименование           | Зав. №        | Класс точн. | Последняя проверка | Показания       |
|------------------------|---------------|-------------|--------------------|-----------------|
| Счётчик электроэнергии | {{ or .MeterSN "-" }} | {{ or .MeterClass "-" }}   | {{ or .MeterLastCheck "-" }}    | {{ or .MeterReading "-" }} |
| Трансформатор / ТА     | {{ or .TA_SN "-" }}   | {{ or .TA_Class "-" }}     | {{ or .TA_LastCheck "-" }}      | {{ or .TA_Reading "-" }}   |

---

## Результаты проверки

- **Состояние пломб:** {{ or .SealStatus "не указано" }}  
- **Неучтённое подключение:** {{ or .ConnectionStatus "не указано" }}  
- **Допуск комиссии:** {{ or .CommissionAccess "не указано" }}  

---

## Заключение

{{ or .Notes "Примечаний нет." }}  

---

## Итоги и рекомендации

| Параметр                                           | Решение / значение                     |
|----------------------------------------------------|----------------------------------------|
| Нарушения Правил недопустимого потребления         | {{ or .Violation "отсутствуют" }}      |
| Перерасчёт объёма потребления                      | {{ or .Recalculation "не требуется" }} |
| Предложение по изменению тарифа                    | {{ or .TariffChange "нет предложений" }} |

---

## Подписи сторон

| Сторона                          | Ф.И.О. / должность                                                       | Подпись      |
|----------------------------------|---------------------------------------------------------------------------|--------------|
| Представитель {{ or .CompanyName "<компания>" }} | {{ or .InspectorName "<инспектор>" }}, {{ or .InspectorPosition "<должность>" }} | ____________ |
| Потребитель / уполномоч. представитель          | {{ or .CustomerName "<потребитель>" }}                                    | ____________ |
